WindowsFormsApp1/Connected Services/ServiceReference1/APIRetriever.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://apiretriever.dankest.ddns.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://apiretriever.dankest.ddns.net" targetNamespace="http://apiretriever.dankest.ddns.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://apiretriever.dankest.ddns.net">
      <xsd:element name="getResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="city" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getResultReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResultResponse">
    <wsdl:part name="parameters" element="impl:getResultResponse" />
  </wsdl:message>
  <wsdl:message name="getResultRequest">
    <wsdl:part name="parameters" element="impl:getResult" />
  </wsdl:message>
  <wsdl:portType name="APIRetriever">
    <wsdl:operation name="getResult">
      <wsdl:input name="getResultRequest" message="impl:getResultRequest" />
      <wsdl:output name="getResultResponse" message="impl:getResultResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIRetrieverSoapBinding" type="impl:APIRetriever">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getResult">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getResultRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResultResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIRetrieverService">
    <wsdl:port name="APIRetriever" binding="impl:APIRetrieverSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/Calculator/services/APIRetriever" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>